@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');
body {
    font-family: Source Sans Pro;
    background: #eee;
    margin: 2em 10%;
}

header {
    font-family: Abril Fatface;
}

header h1 {
    text-align: center;
}

header .date {
    font-family: Source Sans Pro;
}

nav {
    position: sticky;
    top: 0em;
    height: 5%;
    background: white;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    text-align: center;
}

main p {
    padding: 10px 1px;
    border-bottom: 1px solid #eee;
}

ul li {
    list-style-type: none;
    display: inline-block;
    color: #777;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

li a:link {
    text-decoration: none;
}

footer div {
    text-align: center;
}

.more-articles {
    text-align: center;
}

.more-articles section {
    display: inline-block;
    width: 40%;
    padding: 0px 1em;
    margin-right: auto;
    margin-left: auto;
}

.even-more-articles {
    text-align: center;
}

.even-more-articles section {
    display: inline-block;
    width: 30%;
    padding: 0px 1em;
    margin-right: auto;
    margin-left: auto;
}

.footer-link {
    font-size: 11px;
}

section img {
    width: 100%;
}

section p {
    width: 100%;
}

ul li a:visited {
    color: #777;
}

ul li a:hover {
    text-decoration: underline;
}

.newspaper-container {
    background: white;
    padding: 1em;
    border-radius: 10px;
}

.article-title {
    font-family: Roboto Slab;
}

.more-articles {
    padding: 2em 2em;
}

.even-more-articles {
    border-top: 1px solid #eee;
    padding: 2em 2em;
}

#author-text {
    font-family:  Abril Fatface;
    color: darkred
}

#main-image {
    width: 100%;
}